{% extends 'base.html.twig' %}


{% block body %}
    <h1>Mon cher {{ app.user.username|capitalize }}</h1>

    <article>
        <p>Entends bien cette annonce, car l'heure est venue pour toi de prouver ta loyauté envers ceux qui sont chers à ton cœur.</p>
        <p>Es-tu sûr de les connaître, de les reconnaître ?</p>
        <p>Laisse-toi guider sur ce chemin parsemé d'obstacles.</p>
        <p>Le mystère plane, la réponse se trouve au bout du chemin.</p>
        <footer><a href="{{ path('app_start') }}"><button>Commencer</button></a></footer>

    </article>
{% endblock %}