{% extends 'base.html.twig' %}


{% block body %}
    <h1>Mon cher {{ app.user.username|capitalize }}</h1>

    <article>
        <p>Entends bien cette annonce, car l'heure est venue pour toi de prouver ta loyauté envers ceux qui sont chers à ton cœur.</p>
        <p>Es-tu sûr de les connaître, de les reconnaître ?</p>
        <p>Laisse-toi guider sur ce chemin parsemé d'obstacles.</p>
        <p>Mais sache que chaque pas que tu feras te mènera plus loin dans les abysses de l'obscurité.</p>
        <p> La lumière est éteinte, les ténèbres sont ton seul compagnon.</p>
        <p>Sois prudent, car chaque choix que tu feras pourrait te coûter cher.</p>
        <p><i>Les secrets de cette quête ne peuvent être révélés que sur un écran large. Embrasse les ténèbres sur un écran digne de ta bravoure.</i></p>
        <footer><a href="{{ path('app_start') }}"><button>Commencer</button></a></footer>

    </article>
{% endblock %}