{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block body %}

    <h2><i>L'éclat des étoiles s'est éteint, et le temps des tentatives est révolu.
            <br>Retire-toi dans l'ombre et reviens au petit matin.</i></h2>

    <article style="width: 50%; margin: 0 auto;">
        <img src="{{ asset('build/images/perdu.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
    </article>



{% endblock %}