{% extends 'base.html.twig' %}


{% block body %}
    <h1>Mon cher {{ app.user.username|capitalize }}</h1>

    <article>
        <p>Si tu vois cette page, c'est que je t'ai sous-estimé.</p>
        <p>Reviens plus tard, peut-être que les ombres auront gagné du terrain.</p>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </article>
{% endblock %}