{% extends 'base.html.twig' %}

{% block title %}STAGE TIMEO{% endblock %}

{% block body %}

    <h1>Découvrez des différents jeux du moment</h1>
    <article>
        <table>
            <thead>
            <tr>
                <th scope="col">JEUX</th>
                <th scope="col"><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/hogwart.html">Hogwarts Legacy </a></th>
                <th scope="col"><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/rocket-league.html">Rocket League</a></th>
                <th scope="col"><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/apex%20html.html">Apex legend</a></th>
                <th scope="col"><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/fifa%2023%20html.html">FIFA 23</a></th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <th scope="prix:">IMAGE</th>
                <td><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/hogwart.html"><img src="https://www.geekgeneration.fr/wp-content/uploads/2020/09/Hogwarts-Legacy-LHe%CC%81ritage-de-Poudlard.jpg"></a></td>
                <td><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/rocket-league.html"><img src="https://rocketleague.media.zestyio.com/livafalafaty.jpg?width=1440&optimize=high"></a></td>
                <td><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/apex%20html.html"><img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/apex-featured-image-16x9.jpg.adapt.crop16x9.1023w.jpg"></a></td>
                <td><a href="file:///C:/Users/UnPeuToutLeMonde/OneDrive/Bureau/TIMEO/fifa%2023%20html.html"><img src="https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/shared-assets/images/fifa-23-featured-image.png.adapt.crop191x100.1200w.png"></a></td>
            </tr>
            <tr>
                <th scope="prix:">PRIX</th>
                <td> <header><strong style="color: red;">54.99€</strong>  - <s> 74.99€ </s> </header></td>
                <td><header>
                        <strong style="color: red;">9.99€</strong>  - <s> 19.99€ </s>
                    </header>
                </td>
                <td><header><strong style="color: red;">4.99€</strong>  - <s> 14.99€ </s> </header></td>
                <td><header><strong style="color: red;">34.99€</strong>  - <s> 74.99€ </s> </header></td>
            </tr>
            <tr>
                <th scope="console compatible:">CONSOLE COMPATIBLE</th>
                <td>PS5/PC</td>
                <td>SWITCH/XBOX/PS4/PS5/PC</td>
                <td>SWITCH/XBOX/PS4/PS5/PC</td>
                <td>SWITCH/PS4/PS5/PC/XBOX</td>
            </tr>
            </tbody>
        </table>
    </article>





    <article>


        <!-- Markup example 2: input is after label -->
        <label for="email">Adresse Email</label>
        <input type="email" id="email" name="email" placeholder="Email address" required>

        <!-- Select -->
        <label for="Votre console">Votre console</label>
        <select id="Votre console" required>
            <option value="" selected>Votre console...</option>
            <option>PS5</option>
            <option>XBOX</option>
            <option>SWITCH</option>
            <option>PC</option>
        </select>


        <footer><button>Envoyer</button></footer>
    </article>
    </form>
    </article>


{% endblock %}