{% extends 'base.html.twig' %}

{% block title %}STAGE TIMEO{% endblock %}

{% block body %}

    <nav>
        <ul>
            <li><h1>Hogwarts Legacy : L'Héritage de Poudlard</h1></li>
        </ul>
        <ul>
            <li><h1><a href="{{ path('app_timeo') }}" role="button">Accueil</a></h1></li>
        </ul>
    </nav>

    <article>
        <a href="https://www.fnac.com/a15934065/Hogwarts-Legacy-L-Heritage-de-Poudlard-PS5-Jeu-video-Playstation-5#int=S:player4|Home-Gene|NonApplicable|NonApplicable|BAN1|NonApplicable/">
            <img src="https://www.geekgeneration.fr/wp-content/uploads/2020/09/Hogwarts-Legacy-LHe%CC%81ritage-de-Poudlard.jpg" alt="Photo de plage vue du dessus" />
        </a>
    </article>
    <article>
        <header><strong style="color: red;">54.99€</strong>  - <s> 74.99€ </s> </header>
        <p>Hogwarts Legacy : L'Héritage de Poudlard est un RPG d'action-aventure immersif en monde ouvert qui se déroule dans l’univers des livres Harry Potter.</p>
        <br>
        <p>Pour la première fois, découvrez Poudlard dans les années 1800.
            Vous incarnez une élève détenant la clé d'un ancien secret qui menace de déchirer le monde des sorciers.
        </p>
        <br>
        <p>Vous pouvez maintenant prendre le contrôle de l'action et être au centre de votre propre aventure dans le monde des sorciers.</p>
        <br>
        <p>Votre héritage vous appartient. </p>
        <footer>
            <p>Achetez-le sur
                <a href="https://www.fnac.com/a15934065/Hogwarts-Legacy-L-Heritage-de-Poudlard-PS5-Jeu-video-Playstation-5#int=S:player4|Home-Gene|NonApplicable|NonApplicable|BAN1|NonApplicable/">FNAC.COM</a>
            </p>
        </footer>
    </article>
{% endblock %}