{% extends 'base.html.twig' %}

{% block title %}STAGE TIMEO{% endblock %}

{% block body %}

    <h1>Blog de Timéo</h1>
    <h3>Voici mes derniers jeux préférés</h3>
    <div class="grid">
        <a href="{{ path('app_timeo_hogwart') }}">
            <article>
                <center><h3>Hogwarts Legacy</h3></center>
                <img src="https://www.geekgeneration.fr/wp-content/uploads/2020/09/Hogwarts-Legacy-LHe%CC%81ritage-de-Poudlard.jpg" alt="Photo Hogwart" />
            </article>
        </a>
        <a href="{{ path('app_timeo_rocket') }}">
            <article>
                <center><h3>Rocket League</h3></center>
                <img src="https://rocketleague.media.zestyio.com/livafalafaty.jpg?width=1440&optimize=high" alt="Photo Rocket" />
            </article>
        </a>
    </div>

    <!-- ARTICLE NUMERO 2 -->
    <article>
        <header><strong>Me tenir informé des nouvelles saison</strong></header>

        <div class="grid">

            <!-- Markup example 1: input is inside label -->
            <label for="Prénom">
                Prénom
                <input type="text" id="Prénom" name="firstname" placeholder="Prénom" required>
            </label>

            <label for="Nom">
                Nom
                <input type="text" id="lastname" name="lastname" placeholder="Adresse Email" required>
            </label>

        </div>

        <!-- Markup example 2: input is after label -->
        <label for="email">Adresse Email</label>
        <input type="email" id="email" name="email" placeholder="Email address" required>

        <!-- Select -->
        <label for="Votre consoole">Votre console</label>
        <select id="Votre console" required>
            <option value="" selected>Votre console...</option>
            <option>PS5</option>
            <option>XBOX</option>
            <option>SWITCH</option>
            <option>PC</option>
        </select>


        <footer><button>Envoyer</button></footer>

    </article>


{% endblock %}