{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>Perdu</div>
    {% endif %}

    <div class="grid">
        <article>
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Ton Prenom</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password">

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

            <button type="submit">Entre dans l'antre</button>
        </form>
    </article>
    <article style="text-align: center;">
        <p>Je suis petit, fragile et pur,</p>
        <p>Un être innocent et bien souvent sûr.</p>
        <p>Je suis le début de toute aventure,</p>
        <p>Le souffle de la vie, une étincelle de nature.</p>
        <br>
        <p>Quel est donc ce mot qui symbolise l'innocence,</p>
        <p>L'essence même de la vie et de l'existence ?</p>
        <br>
        <p>Je suis un ...</p>
    </article>
    </div>
    


{% endblock %}