{% extends 'base.html.twig' %}

{% block title %}
    FIFA 23
{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><h1>FIFA 23</h1></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_timeo') }}" role="button">Accueil</a></li>
        </ul>
    </nav>
    <article>
        <a href="https://www.fnac.com/a15934002/FIFA-23-PS4-Jeu-video-PlayStation-4#omnsearchpos=1"><img src="https://cdn1.epicgames.com/offer/f5deacee017b4b109476933f7dd2edbd/EGS_EASPORTSFIFA23StandardEdition_EACanada_S1_2560x1440-aaf9c5273c27a485f2cce8cb7e804f5c" alt="Photo de plage vue du dessus"/></a>
    </article>

    <article>
        <p></p>
        <details>
            <summary>Plus d'infomations</summary>
            <p> Disputez les rencontres à venir ou réécrivez l’histoire de matchs passés de la FIFA World Cup 2022™ pour changer la destination du célèbre trophée, avec les effectifs authentiques, les équipes, les statistiques, le classement des groupes, etc. </p>
        </details>
        <p>
            Achetez-le sur
            <a href="https://www.fnac.com/a15934002/FIFA-23-PS4-Jeu-video-PlayStation-4#omnsearchpos=">FNAC.COM</a>
            au prix de <strong style="color: red;">69,99€</strong>
        </p>
    </article>

{% endblock %}

